<a href='/teams'>Back to Teams List</a>
<br/><br/><br/>


ID:<br/>
<%= @team.id %><br/>
Name:<br/>
<h3><%= @team.name %><br/></h3>
Share stadium?<br/>
<%= @team.share_stadium %><br/>
Roster count:<br/>
<%= @team.roster_count %><br/>
Created at:<br/>
<%= @team.created_at %><br/>
Updated at:<br/>
<%= @team.updated_at %><br/>
City:<br/>
<%= @team.city.name %><br/>

<%= link_to "Update Team", "/teams/#{@team.id}/edit?city_id=#{@team.city.id}" %>
<%=link_to "Delete Team", "/teams/#{@team.id}", method: :delete %>
