<a href='/teams'>Back to Teams List</a>
<br/><br/><br/>


ID:<br/>
<%= @team.id %><br/>
Name:<br/>
<%= @team.name %><br/>
Won Championship?<br/>
<%= @team.above_4000_feet %><br/>
Population:<br/>
<%= @team.population %><br/>
Created at:<br/>
<%= @team.created_at %><br/>
Updated at:<br/>
<%= @team.updated_at %><br/>
