<h2><%= @coach.name%>'s Players</h2>

<%= link_to "Sort Alphabetically", "/coaches/#{@coach.id}/players?alpha=true" %>


<% @players.each do |player| %>
  <h6>Player: <%= player.name%> MVP?<%= player.MVP%> Career Total Points<%= player.career_total_points%></h6>
  <h6><%=link_to "Update #{player.name}", "players/#{player.id}/edit", method: :get %></h6>
<% end %>

<%=link_to "Add Player", "/coaches/#{@coach.id}/players/new"%>
