<h2><%= @city.name%>'s Teams</h2>

<%= link_to "Sort Alphabetically", "/cities/#{@city.id}/teams?alpha=true" %>


<% @teams.each do |team| %>
  <h6>Team: <%= team.name%> Share Stadium? <%= team.share_stadium%> Roster Count: <%= team.roster_count%></h6>
  <h6><%=link_to "Update #{team.name}", "/teams/#{team.id}/edit?city_id=#{team.city.id}", method: :get %></h6>
  <h6><%=link_to "Delete #{team.name}", "/teams/#{team.id}", method: :delete %></h6>
<% end %>

<%=link_to "Add Team", "/cities/#{@city.id}/teams/new"%>
