<a href='/coaches'>Back to Coaches List</a>
<br/><br/><br/>

ID:<br/>
<%= @coach.id %><br/>
Name:<br/>
<%= @coach.name %><br/>
Won Championship?<br/>
<%= @coach.won_championship %><br/>
Years Coaching:<br/>
<%= @coach.years_coaching %><br/>
Created at:<br/>
<%= @coach.created_at %><br/>
Updated at:<br/>
<%= @coach.updated_at %><br/>
Player Count:<br/>
<%= @coach.player_count %><br/>

<a href='/coaches/<%=@coach.id%>/players'>Coach's Players</a>
