<h2>All Players</h2>


<% @players.each do |player| %>
  <h6><a href="/players/<%= player.id %>"> Player: <%= player.name %> Has won MVP:<%= player.MVP %> Career Total Points:<%= player.career_total_points %> Coach's name:<%= player.coach.name %></a></h6>
  <h6><%=link_to "Delete #{player.name}", "/players/#{player.id}", method: :delete %></h6>
<% end %>
