<a href='/players'>Back to Players List</a>
<br/><br/><br/>


ID:<br/>
<%= @player.id %><br/>
Name:<br/>
<h3><%= @player.name %><br/></h3>
Won Championship?<br/>
<%= @player.MVP %><br/>
Population:<br/>
<%= @player.career_total_points %><br/>
Created at:<br/>
<%= @player.created_at %><br/>
Updated at:<br/>
<%= @player.updated_at %><br/>
