<a href='/players'>Back to Players List</a>
<br/><br/><br/>


ID:<br/>
<%= @player.id %><br/>
Name:<br/>
<%= @player.name %><br/>
Won Championship?<br/>
<%= @player.above_4000_feet %><br/>
Population:<br/>
<%= @player.population %><br/>
Created at:<br/>
<%= @player.created_at %><br/>
Updated at:<br/>
<%= @player.updated_at %><br/>
