<h2>All Cities</h2>


<% @cities.each do |city| %>
  <h6><a href="/cities/<%= city.id %>">City: <%= city.name %> Created at: <%= city.created_at %></a></h6>
    <h6><a href="/cities/<%= city.id %>/edit">Edit <%= city.name %> </h6>
    <h6><%=link_to "Delete #{city.name}", "/cities/#{city.id}", method: :delete %></h6>
<% end %>

<a href='/cities/new'>New City</a>
