<a href='/cities'>Back to Cities List</a>
<br/><br/><br/>


ID:<br/>
<%= @city.id %><br/>
Name:<br/>
<%= @city.name %><br/>
Won Championship?<br/>
<%= @city.above_4000_feet %><br/>
Population:<br/>
<%= @city.population %><br/>
Created at:<br/>
<%= @city.created_at %><br/>
Updated at:<br/>
<%= @city.updated_at %><br/>
